.section{
    width: 100%;
    min-height: 100vh;
}

.container{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.developBox{
    width: 1000px;
    min-height: 350px;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px 1px rgba(80, 80, 80, 0.05);
    padding: 20px;
}

.title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.content{

}

.midTitle{
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.normalContent{
}