*{
    margin: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 3px 2px rgba(80, 80, 80, 0.15);
    justify-content: space-between;
}

.leftBox{
    margin-left: 15px;
}

.logoBox{
    display: block;
    height: 35px;
    transition: all 0.3s;
}

.logoBox:hover{
    scale: 1.1;
}

.logoImg{
    height: 100%;
    margin-top: -3px;
}

.rightBox{
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.signinBox{
    text-decoration: none;
}

.signin{
    color: black;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #a3a3a3;
    cursor: pointer;
    user-select: none;
}

.signName{
    font-size: 13px;
    color: #bcbcbc;
    margin-right: 10px;
    cursor: pointer;
}