@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mom_to_daughter';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/mom_to_daughter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}

.section{
    width: 100%;
    height: 100vh;
}

/* .bgSection{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-image: url('../img/winter2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */

.bgBox {
    position: fixed;
    width: 100%;
    height: 100%;
}

.bgImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.noticeBox {
    position: relative;
    z-index: 9999;
}

.notice {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    position: absolute;

    top: 100px;
    left: 100px;
    box-shadow: 1px 1px 3px 2px rgba(80, 80, 80, 0.05);
}

.close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 25px;
}

.firstSection{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    /* background-image: url('../img/city.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.dateBox{
    width: 500px;
    /* height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #ebebeb5e;
    border-radius: 50%; */
}

.date{
    font-family: 'Pretendard';
    /* font-family: 'mom_to_daughter'; */
    font-size: 20px;
    color: #ffffff61;
    user-select: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    /* font-style: italic; */
}

.date:hover{
    color: white;
    animation: blink 2s forwards;
}

@keyframes blink {
    0%{
        color: #ffffff61;
    }
    25%{
        color: white;
    }
    45%{
        color: #ffffff61;
    }
    65%{
        color: white;
    }
    85%{
        color: #ffffff61;
    }
    95%{
        color: white;
    }
    100%{
        color: white;
    }
}

.importantContainer{
    position: fixed;
    right: 30px;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 1;
}

.importantSiteBox{
    width: 50px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f0f0ab;
    padding: 10px 8px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 2px rgba(80, 80, 80, 0.05);
    /* border: 1px solid #e5e5e5; */
}

.siteLogoBox{
    width: 100%;
}

.siteLogo{
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s;
    /* border: 1px solid #858585; */
    box-sizing: content-box;
}

.siteLogo:hover{
    scale: 1.1;
}

.scrollDownBox{
    position: absolute;
    bottom: 30px;
}

.scrollDown{
    font-size: 30px;
    transition: all 0.3s;
    cursor: pointer;
    color: #ffffffc2;
}

.scrollDown:hover{
    scale: 1.1;
    color: white;
}

.secondSection{
    width: 100%;
    height: 100%;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('../img/bridge.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.itemDelete{
    padding: 3px 4px;
    background-color: white;
    border-radius: 50%;
    font-size: 7px;
    cursor: pointer;
    position: absolute;
    top: -6px;
    right: 13px;
    transition: all 0.5s;
    border: 1px solid #ababab;
    z-index: 5;
}

.addSiteItem .itemDelete{
    display: none;
}

.addSiteItem:hover .itemDelete{
    display: block;
}

.addSiteContainer{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addSiteBox{
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.addSiteItem{
    width: 90px;
    margin: 5px;
    position: relative;
}

.addSiteAnchor{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addSiteFirst{
    width: 50px;
    height: 50px;
    background-color: #ffffffe0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: black;
    box-shadow: 1px 1px 3px 2px rgba(80, 80, 80, 0.05);
    position: relative;
    transition: all 0.3s;
}

.addSiteAnchor:hover .addSiteFirst{
    scale: 1.1;
}

.addSiteName{
    width: 100%;
    text-align: center;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    color: white;
    text-shadow: 2px 2px 15px #b5b5b5c4;
    font-weight: 600;
}

.addSiteButton{
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;

}

.addSiteButtonIcon{
    font-size: 15px;
    padding: 8px 9px;
    background-color: #ffffffe0;
    border-radius: 20px;
    color: #929292;
}

.addSiteText{
    margin-top: 5px;
    color: white;
}

.modalBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addTitle{
    font-size: 20px;
    margin-bottom: 40px;
    
}

.modalInput{
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    outline: none;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.modalSaveButton{
    width: 100%;
    height: 35px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFAA64;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
}

.modalColorBox{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.modalColorInfor{
    padding: 5px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
}